$green: #60ae2b;
.nav-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.call-to-action{
	background-color: lightgrey;
	height: 200px;
	width: 100%;
	position: relative;
	top: 0px;
	padding: 20px;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.call-to-action-full{
	background-color: lightgrey;
	max-width: 1200px;
	position: relative;
	top: 0px;
	padding: 20px;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	a{
		color: white;
	}
	h2{margin-bottom: 0px; margin-top: 5px;}
}
.green-background{
	background-color: $green;
	width: 100%;
	margin-bottom: 100px;
}
.banner-image{
	width: 100%;
	overflow: hidden;
	background-color: $green;
	text-align: center;
	padding: 0px;
	margin: 0px;
	img{
		max-width: 1200px;
		vertical-align: bottom;
	}
}

.secondary-menu{
	font-family: "Arial";
	font-size: 1em;
	text-transform: uppercase;
	border-bottom: 1px solid #d9d9d7;
	line-height: 52px;
	margin-bottom: 49px;
	ul{
		text-align: center;
		padding-left: 0px;
		li{
			display: inline-block;
			zoom: 1;
			padding: 0 1.923%;
			a{
				text-decoration: none;
				color: #4c4c4c;
			}
		}
	}
}

.tout{
	display: inline-block;
	img{
		text-align: center;
	}
}
.tout-text{
	display: inline-block;
	h2{
		margin-top: 0px;
	}
}

.video-banner{
	width: 100%;
	overflow: hidden;
	background-color: $green;
	text-align: center;
	padding: 0px;
	margin: 0px;
	.video-banner-background{
		max-width: 100%;
		vertical-align: bottom;	
		background: grey no-repeat center;
		height: 414px;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
	.video-text{
		background: rgba(0,0,0,.65);
		box-shadow: 0px 30px 40px rgba(0,0,0,.65);
		margin-bottom: 0px;
		padding-left: 30px;
		padding-right: 30px;
		margin-top: 30px;
	}
	h2{
		color: #fff;
		padding-top: 30px;
	}
	button{
		width: 160px;
		height: 40px;
		margin-bottom: 30px;
	}
	p{
		color: #fff;
		text-align: left;
	}
}

.carousel-control{
	.fa{
		position: absolute;
		top: 40%;
		z-index: 5;
		display: inline-block;
	}
	.left{
		i{float: left;}
	}
	.right{
		i{float: right;}
	}
}

/***** MODAL PROPERTIES *****/
.video-modal{
  .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background:transparent;
    border:none;
    outline:none;
	.video-iframe {
	  border:none;
	  padding:0;
	  margin:0;
	}
}
.close-big {
    font-size: 80px !important;
    margin:-20px -40px 0 0 !important;
    color: #fff;
}
}



.value{
	padding-bottom: 30px;
	.fa{
		color: $green;
	}
}
.values{
	padding-bottom: 70px;
}

#benefits{
	padding-top: 60px;
	.fa{
		text-align: center;
		display: block;
	}
	h3{
		text-align: center;
		color: $green;
	}
	p{
		text-align: center;
	}
	.row{
		padding-bottom: 40px;
	}
}


//bios

.employee-bios{
.bio-item {
  position: relative;
  float: left;
  width: 225px;
  height: 225px;
  margin: 5px;
  padding: 10px;
  background: url('http://placehold.it/150x140&text=Image') no-repeat;
  color: #262524;
}

.bio-item > * {
  margin: 0;
  padding: 0;
}

.bio-item .name {
  position: absolute;
  left: 10px;
  top: 145px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: normal;
}

.bio-item .position {
  position: absolute;
  left: 10px;
  top: 165px;
  font-size: 14px;
}

.bio-item .location {
  position: absolute;
  left: 10px;
  top: 180px;
}

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

.button-group{
	margin-bottom: 20px;
}

}


.job-search{
	.form-group{
		display: inline-block;
		width: 80%;
	}
	button{
		display: inline-block;
		width: 19%;
	}
}
.search-categories{
	select[multiple]{
		height: 200px;
		option{
			font-size: 22px;
		}
	}
}
.advanced-search{
	a{
		padding-top: 20px;
	}
}

#careers-frame{
	iframe{
		width: 100%;
		height: 500px;
	}
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.modal-content{
	padding: 20px;
	background: url('../../img/bio-bg.png') no-repeat center;
	background-size: 900px 400px;
	color: #fff;
	p{
		width: 50%;
	}
}
.modal-lg{
	border-radius: 0px;
}

.filters{
	text-align: center;
	padding-bottom: 20px;
	a{
		color: black;
		text-decoration: none;
		padding-left: 20px;
		padding-right: 20px;
	}
	a:hover{
		color: $green;
	}
}

.secondary-menu{
	ul{
		margin-bottom: 0px;
	}
}

section{
	padding-bottom: 100px;
}

.image-caro{
        background-color: $green;
    .picture-item{
        display: inline-block !important;
        background: grey 200px 200px;
        height: 350px;
        width: 233px;
        color: white;
    }
}
